# .env.example

# Backend Environment Variables
DATABASE_URL=postgresql://username:password@localhost:5432/scoregenius_db
API_SPORTS_KEY=your_api_sports_key
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SUPABASE_URL=https://qaytaxyflvafblirxgdr.supabase.co
SUPABASE_ANON__KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFheXRheHlmbHZhZmJsaXJ4Z2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkzNDE3NzksImV4cCI6MjA1NDkxNzc3OX0.OJRZRo5RA4hSBZ_QKyI6fDy4JTmzNQjaNmwbT0GiIJ8

LLAMA_MODEL_PATH=/path/to/llama_model

# Frontend Environment Variables
VITE_API_BASE_URL=https://api.yourdomain.com
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_KEY=your_supabase_anon_key
